<section>

    <label>Nom</label>
    <input type="text" [(ngModel)]="newProduct.name">
    <label>Description</label>
    <input type="text" [(ngModel)]="newProduct.description">
    <label>Couverture</label>
    <input type="text" [(ngModel)]="newProduct.cover">
    <label>Image</label>
    <input type="image" [(ngModel)]="newProduct.file">
    <label>Prix</label>
    <input type="number" [(ngModel)]="newProduct.price">
    <label>Couverture</label>
    <input type="date" [(ngModel)]="newProduct.adding">
    <label>Marque</label>
    <input type="text" [(ngModel)]="newProduct.brand">
    <label>Disponible en Premium</label>
    <input type="checkbox" [(ngModel)]="newProduct.isPremium">
    <label>Soldé </label>
    <input type="checkbox" [(ngModel)]="newProduct.onSold">
    <label>Vendeur</label>
    <input type="text" [(ngModel)]="newProduct.vendor">
    <label>Note</label>
    <input type="number" [(ngModel)]="newProduct.note">
    <label>Nombre de Produits</label>
    <input type="number" [(ngModel)]="newProduct.numberOfProducts">
    <!--<label>Nombre de votes</label>
  <input type="number" [(ngModel)]="newProduct.numberOfVote">
  <label>Nombre de Commentaires</label>
  <input type="text" [(ngModel)]="newProduct.numberOfComments">-->
    <label>Variété</label>
    <input type="text" [(ngModel)]="newProduct.variety">
    <label>Période de semis</label>
    <input type="text" [(ngModel)]="newProduct.seedPeriod">
    <label>Espèce</label>
    <input type="text" [(ngModel)]="newProduct.species">
    <label>Type</label>
    <input type="date" [(ngModel)]="newProduct.type">

    <label>Récolte</label>
    <input type="text" [(ngModel)]="newProduct.harvest">
    <label>Taille</label>
    <input type="checkbox" [(ngModel)]="newProduct.carving">
    <label>Couverture</label>
    <input type="date" [(ngModel)]="newProduct.cover">
    <label>Traitement</label>
    <input type="checkbox" [(ngModel)]="newProduct.treatment">
    <label>Engrais</label>
    <input type="text" [(ngModel)]="newProduct.fertilize">

    <label>Exposition</label>
    <ng-template *ngFor="let exposition of prodexpo">
        <input type="radio" [(ngModel)]="newProduct.exposition" value="windy" id="windy" name="windy" />
        <label for="{{exposition.type}}">{{exposition.type}}</label><br />
    </ng-template>
    <label>Irrigation</label>
    <ng-template *ngFor="let irrigation of prodirrig">
        <input type="radio" [(ngModel)]="newProduct.irrigation" [value]="low" id="low" name="newProduct.irrigation.low" />
        <label for="{{irrigation.type}}">{{irrigation.type}}</label><br />
    </ng-template>
    <label>Resistance</label>
    <ng-template *ngFor="let resistance of prodresist">
        <input type="radio" [(ngModel)]="newProduct.resistance" [value]="newProduct.resistance.inferiorto0" id="inferior0°C" name="newProduct.resistance.inferior0°C" />
        <label for="{{resistance.type}}">{{resistance.type}}</label><br />
    </ng-template>

    <label>Sol</label>
    <ng-template *ngFor="let soil of prodsoil">
        <input type="checkbox" [(ngModel)]="newProduct.soil" [value]="newProduct.soil.type" id="acid" name="newProduct.soil.acid" />
        <label for="acid">Acide</label><br />
        <input type="checkbox" [(ngModel)]="newProduct.soil" [value]="newProduct.soil.type" id="clayey" name="newProduct.soil.clayey" />
        <label for="clayey">Argileux</label><br />
        <input type="checkbox" [(ngModel)]="newProduct.soil" [value]="newProduct.soil.type" id="chalky" name="newProduct.soil.chalky" />
        <label for="chalky">Calcaire</label><br />
        <input type="checkbox" [(ngModel)]="newProduct.soil" [value]="newProduct.soil.type" id="sandy" name="newProduct.soil.sandy" />
        <label for="sandy">Sableux</label><br />
        <input type="checkbox" [(ngModel)]="newProduct.soil" [value]="newProduct.soil.type" id="humus" name="newProduct.soil.humus" />
        <label for="humus">Humus</label><br />
    </ng-template>

    <label>Commentaire</label>
    <input type="text" [(ngModel)]="newProduct.comments">

    <button (click)="addProduct()">Ajouter</button>
</section>