<section>
    <form (submit)=addingProduct()>
        <label>Nom</label>
        <input type="text" name="name" [(ngModel)]="newProduct.name">
        <label>Description</label>
        <input type="text" name="description" [(ngModel)]="newProduct.description"><br />
        <label>Couverture</label>
        <input type="text" name="cover" [(ngModel)]="newProduct.cover">
        <label>Image</label>
        <input type="file" name="image" [(ngModel)]="newProduct.file"><br />
        <label>Prix</label>
        <input type="number" name="price" [(ngModel)]="newProduct.price">
        <label>Ajout</label>
        <input type="date" name="adding" [(ngModel)]="newProduct.adding">
        <label>Marque</label>
        <input type="text" name="brand" [(ngModel)]="newProduct.brand"><br />
        <label>Disponible en Premium</label>
        <input type="checkbox" name="isPremium" [(ngModel)]="newProduct.isPremium">
        <label>Soldé </label>
        <input type="checkbox" name="sold" [(ngModel)]="newProduct.onSold">
        <label>Vendeur</label>
        <input type="text" name="vendor" [(ngModel)]="newProduct.vendor"><br />
        <label>Note</label>
        <input type="number" name="note" [(ngModel)]="newProduct.note">
        <label>Nombre de Produits</label>
        <input type="number" name="numberProduct" [(ngModel)]="newProduct.numberOfProducts"><br />
        <label>Nombre de votes</label>
        <input type="number" name="numberVote" [(ngModel)]="newProduct.numberOfVote">
        <label>Nombre de Commentaires</label>
        <input type="number" name="numberComment" [(ngModel)]="newProduct.numberOfComments">
        <label>Variété</label>
        <input type="text" name="variety" [(ngModel)]="newProduct.variety">
        <label>Période de semis</label>
        <input type="text" name="seeding" [(ngModel)]="newProduct.seedPeriod">
        <label>Espèce</label>
        <input type="text" name="species" [(ngModel)]="newProduct.species">
        <label>Type</label>
        <input type="text" name="type" [(ngModel)]="newProduct.type"><br />
        <label>Récolte</label>
        <input type="text" name="harvest" [(ngModel)]="newProduct.harvest">
        <label>Taille</label>
        <input type="checkbox" name="carving" [(ngModel)]="newProduct.carving">
        <label>Traitement</label>
        <input type="checkbox" name="treatment" [(ngModel)]="newProduct.treatment">
        <label>Engrais</label>
        <input type="text" name="fertilize" [(ngModel)]="newProduct.fertilize"><br />

        <label>Exposition</label>
        <div *ngFor="let exposition of expo">
            <input type="radio" [(ngModel)]="newProduct.prodexpo" value="{{exposition.type}}" id="{{exposition.type}}" name="exposition" />
            <label for="{{exposition.type}}">{{exposition.type}}</label><br />
        </div>
        <label>Irrigation</label>
        <div *ngFor="let irrigation of irrig">
            <input type="radio" [(ngModel)]="newProduct.prodirrig" value="{{irrigation.type}}" id="{{irrigation.type}}" name="irrigation" />
            <label for="{{irrigation.type}}">{{irrigation.type}}</label><br />
        </div>
        <label>Resistance</label>
        <div *ngFor="let resistance of resist">
            <input type="radio" [(ngModel)]="newProduct.prodresist" value="{{resistance.type}}" id="{{resistance.type}}" name="resistance" />
            <label for="{{resistance.type}}">{{resistance.type}}</label><br />
        </div>

        <label>Sol</label>
        <div *ngFor="let soil of soil; let index = index">
            <input type="checkbox" [(ngModel)]="soilCheckboxes[index]" id="{{soil.type}}" name="soil" />
            <label for="{{soil.type}}">{{soil.type}}</label><br />
        </div>

        <label>Commentaire</label>
        <input type="text" name="comments" [(ngModel)]="newProduct.comments">

        <br />
        <button>Ajouter</button>
    </form>
</section>