<h1>Liste de produits</h1>
<table>
    <tr>
        <th>Nom</th>
        <th>Couverture</th>
        <th>Image</th>
        <th>Description</th>
        <th>Prix</th>
        <th>Période de semis</th>
        <th>Taille</th>
        <!-- <th>Ajout Produit</th>-->
        <th>Variété</th>
        <th>Sol</th>
    </tr>
    <tr *ngFor="let product of listeProducts">
        <td>{{product.name}}</td>
        <td>{{product.cover}}</td>
        <td>{{product.file}}</td>
        <td>{{product.description}}</td>
        <td>{{product.price}}</td>
        <td>{{product.seedPeriod }}</td>
        <td>{{product.carving}}</td>
        <!-- <td>{{product.adding | date:'dd/MM/yyyy'}}</td> -->
        <td>{{product.variety}}</td>
        <td>{{product.prodsoil.type}}</td>
    </tr>
    <!--<td><button (click)="removeUser(user.id)">Supprimer</button></td>
      <td><button (click)="aModifier=user">Modifier</button></td>-->

</table>